<div id="Carousel256_0" style="max-width: 256px; margin: 0px auto 5px">
  <div class="frame">
    <div class="holder" style="left: 0px">
      <div class="slide" style="display: none; left: 0px">
        <img
          src="assets/raytracer/curvybase256.png"
          alt="The Amazing Curvy Base"
        />
      </div>
      <div class="slide" style="left: 0px; display: block">
        <img src="assets/raytracer/urmomgay.png" alt="no u" />
      </div>
      <div class="slide" style="left: 0px; display: none">
        <img
          src="assets/raytracer/globgogabgolab_shiny.png"
          alt="Shiny Starfall Prop"
        />
      </div>
      <div class="slide" style="left: 0px; display: none">
        <img src="assets/raytracer/cubemapballs.png" alt="Cubemap Spheres" />
      </div>
      <div class="slide" style="left: 0px; display: none">
        <img
          src="assets/raytracer/finallysomegoodfuckingrefraction.png"
          alt="Sphere of True Refraction"
        />
      </div>
      <div class="slide" style="left: 0px; display: none">
        <img src="assets/raytracer/littleplanet.png" alt="A Small World" />
      </div>
      <div class="slide" style="left: 0px; display: none">
        <img
          src="assets/raytracer/cursedchairs.png"
          alt="Blue Chair Trefoil Knot"
        />
      </div>
    </div>
    <div class="front">
      <button class="button"></button><button class="button"></button>
    </div>
  </div>
  <div class="fade-text" style="">
    <p></p>
    <div class="minihead">no u</div>
    <div class="sub">256x Render<br />Spectacular Update Rv.3</div>
    <p></p>
  </div>
  <div class="fade-text" style="display: none">
    <p></p>
    <div class="minihead">The Amazing Curvy Base</div>
    <div class="sub">256x Render<br />Speedeo's Bitmap Module</div>
    <p></p>
  </div>
</div>

<div class="carousel" style="max-width: 256px">
  <div class="frame">
    <div class="images">
      <div id="image_25931" class="carousel-image s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/curvybase256.png"
          alt="Speedeo's Bitmap Module"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_19660" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/ballbin.png"
          alt="Colored AO Update"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_30061" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/urmomgay.png"
          alt="Spectacular Update Rv.3"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_63180" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/illuminatis.png"
          alt="Soft-Shadow Point Lights"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_60751" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/pgengrass3.png"
          alt="Submaterials Update Rv.4"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_18256" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/iconicbridge2.png"
          alt="Winds and Clouds Update"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_36209" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/spookyemissives.png"
          alt="Discovery of a Useful Bug"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_25394" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/coolairship.png"
          alt="Feathered Spotlight Test"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_25939" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/spacebuild.png"
          alt="Submaterials Update Rv.2"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_20436" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/spectest.png"
          alt="A Spectacular Update!"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_54930" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/indooooors.png"
          alt="Eye of the Storm Rv. 4"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_31670" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/shards.png"
          alt="Caustics Update Rv.3"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_60759" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/go-outside-already.png"
          alt="Circular Soft Shadows"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
      <div id="image_18008" class="carousel-image hidden s-zSRhkU8F_ZnR">
        <img
          src="/svelte-portfolio/assets/expression2/raytracer/gardenbase.png"
          alt="Global Illumination Edits"
          class="image s-zSRhkU8F_ZnR"
        />
      </div>
    </div>
    <div class="buttons"><button></button> <button></button></div>
  </div>
  <div class="carousel-caption s-MxprIIHQnSRX" id="caption_44409">
    <div class="title s-MxprIIHQnSRX">ENABLE JAVASCRIPT!!1</div>
    <div class="capt1 s-MxprIIHQnSRX">if you *have* enabled javascript,</div>
    <div class="capt2 s-MxprIIHQnSRX">then this is fasteroid's fault!</div>
  </div>
  <div class="carousel-caption s-MxprIIHQnSRX" id="caption_16954">
    <div class="title s-MxprIIHQnSRX">ENABLE JAVASCRIPT!!1</div>
    <div class="capt1 s-MxprIIHQnSRX">if you *have* enabled javascript,</div>
    <div class="capt2 s-MxprIIHQnSRX">then this is fasteroid's fault!</div>
  </div>
</div>
