.project-title {
    bottom: 10%;
    color: #000;
    text-shadow:
   -1px -1px 5px #fff,  
    1px -1px 5px #fff,
    -1px 1px 5px #fff,
    1px 1px 5px #fff,
    -1px -1px 5px #fff,  
    1px -1px 5px #fff,
    -1px 1px 5px #fff,
    1px 1px 5px #fff,
    0 0 0.5px #000,
    0 0 0.5px #000;
}

.project-shelf img {
    padding: 5px !important;
}