// I COULD make separate scss files for each of these namespaces, but that seems overkill since there's only two and they aren't large.

$site-background: #2f3234;
$site-text:       #eeeeee;

$section-background: #ffffff15;
