@use    "./vars/globals.scss" as globals;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

// TODO: this is already a mess, it needs tidying up

body, html {
    margin: 0;
    padding: 0;
}
body {
    background-color: globals.$site-background;
    color: globals.$site-text;
    font-family: 'Roboto Mono', monospace;
    font-size: 11pt;
    line-height: 1.25;
    word-spacing: -0.75px; 
    line-height: 1.25;
}

section {
    line-height: 140%;
}

section, hgroup {
    background-color: globals.$section-background;
    padding: 15px;
    text-align: justify;
    display: block;
}
hgroup {
    text-align: center;
    margin-bottom: 15px;
    * {
        margin: 0
    }
    h1 {
        font-size: 24px; 
    }   
    h2 {
        font-size: 16pt;
    }
    h3 {
        font-weight: normal;
        font-size: 12pt;
    }
}

// why is this so weird on the old site??
hgroup.taller {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        height: auto;
    }
}

section.no-background {
    background-color: #0000;
}
section.extra-space {
    margin: 15px 15px 15px 15px;
}


img {
    background-color: globals.$section-background;
    padding: 15px 15px;
    margin: 0 15px 15px 15px;
    max-width: 100%;
    box-sizing: border-box;
}

div.p {
    margin: 0 15px 15px 15px;
    width: auto;
}

.margins {
    margin: auto;
    max-width: calc( min(80vw, 1920px) );
    padding: 10px;
}

.dubsp {
    white-space: pre;
}

li::marker{
    font-size: 12pt;
}

ul {
    margin: 0px;
}

a {
    color: #b1b1ff;
    &:visited {
        color: #eca1ff;
    }
}

::selection {
    background: #70b0ff44;
}

span.emdash {
    display: inline-block;
    text-align: center;
    width:13pt;
    transform: scale(1.7, 1);
}