$cyan-bright: 
    drop-shadow(0 0 1pt #fffa)
    drop-shadow(0 0 3pt #6ffa)
    drop-shadow(0 1px 7pt #09fa)
    drop-shadow(0 1px 5pt #00fa)
    drop-shadow(0 1px 8pt #00fa);

$cyan-dark:
    drop-shadow(0 0 1pt #fff8)
    drop-shadow(0 0 3pt #6ff8)
    drop-shadow(0 1px 7pt #09f8)
    drop-shadow(0 1px 5pt #00f8)
    drop-shadow(0 1px 8pt #00f8);

$white:
    drop-shadow(0 0 6pt #fff5)
    drop-shadow(0 0 3pt #fffc)
    drop-shadow(0 0 1pt #ffff);

$red: 
    drop-shadow(0 0 1pt #fff8)
    drop-shadow(0 0 3pt #f048)
    drop-shadow(0 1px 7pt #f038)
    drop-shadow(0 1px 5pt #f008)
    drop-shadow(0 1px 8pt #f008);

@keyframes neon-cyan-flickering {
    0%, 60%, 62%, 98%, 100% {
        filter: $cyan-bright
    }
    61%, 99% {
        filter: $cyan-dark
    }
}