
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold|Montserrat:regular');
.carousel-caption {

    &.hidden {
        opacity: 0;
    }

    width: 100%;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 7px;
    color: #ffffff;

    .title {
        font-family: 'Montserrat', serif;
        position: relative;
        color: #ffffff;
        font-style: italic;
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 5px;
    }

    .capt1, .capt2 {
        color: #ffffff;
        position: relative;
        font-size: 12px;
        font-style: italic;
        line-height: 1.2em;
        font-family: 'Montserrat', serif;
        font-weight: normal;
    }

}